### Pyspark GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+-------+------------+------+
|   name|  department|salary|
+-------+------------+------+
|  alpha|data science| 30000|
|   beta|         IOT| 25000|
|  gamma|    Big data| 20000|
|  delta|    Big data| 20000|
|epsilon|data science| 15000|
|   zeta|data science| 18000|
|    eta|         IOT| 40000|
|  delta|    Big data| 38000|
|    eta|data science| 10000|
|   zeta|    Big data|  2000|
+-------+------------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

In [7]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(salary)|
+-------+-----------+
|  delta|      58000|
|    eta|      50000|
|   beta|      25000|
|  gamma|      20000|
|epsilon|      15000|
|   zeta|      20000|
|  alpha|      30000|
+-------+-----------+

In [10]:
df_pyspark.groupBy('name').avg().show()

+-------+-----------+
|   name|avg(salary)|
+-------+-----------+
|  delta|    29000.0|
|    eta|    25000.0|
|   beta|    25000.0|
|  gamma|    20000.0|
|epsilon|    15000.0|
|   zeta|    10000.0|
|  alpha|    30000.0|
+-------+-----------+

In [12]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('department').sum().show()

+------------+-----------+
|  department|sum(salary)|
+------------+-----------+
|         IOT|      65000|
|data science|      73000|
|    Big data|      80000|
+------------+-----------+

In [14]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('department').mean().show()

+------------+-----------+
|  department|avg(salary)|
+------------+-----------+
|         IOT|    32500.0|
|data science|    18250.0|
|    Big data|    20000.0|
+------------+-----------+

In [15]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('department').count().show()

+------------+-----+
|  department|count|
+------------+-----+
|         IOT|    2|
|data science|    4|
|    Big data|    4|
+------------+-----+

In [16]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|     218000|
+-----------+