* PySpark Dataframe
* Reading The Dataset
* Checking the Datatypes of the Column(Schema)
* Selecting Columns And Indexing
* Check Describe option similar to Pandas
* Adding Columns
* Dropping columns
* Renaming Columns

In [21]:
from pyspark.sql import SparkSession

In [22]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [23]:
spark

In [29]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('test.csv')

In [30]:
### Check the schema
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)

We need to set "inferSchema = True" to get actual data type otherwise it will take all as string by default.

In [33]:
df_pyspark=spark.read.csv('test.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
|alpha| 45|        25|
| beta| 35|        15|
| gama| 25|         5|
+-----+---+----------+

In [34]:
### Check the schema
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [35]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [36]:
df_pyspark.head(3)

[Row(name='alpha', age=45, experience=25),
 Row(name='beta', age=35, experience=15),
 Row(name='gama', age=25, experience=5)]

In [37]:
df_pyspark.show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
|alpha| 45|        25|
| beta| 35|        15|
| gama| 25|         5|
+-----+---+----------+

In [38]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|alpha|        25|
| beta|        15|
| gama|         5|
+-----+----------+

In [39]:
df_pyspark['Name']

Column<'Name'>

In [40]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [42]:
df_pyspark.describe().show()

+-------+-----+----+----------+
|summary| name| age|experience|
+-------+-----+----+----------+
|  count|    3|   3|         3|
|   mean| null|35.0|      15.0|
| stddev| null|10.0|      10.0|
|    min|alpha|  25|         5|
|    max| gama|  45|        25|
+-------+-----+----+----------+

In [43]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [44]:
df_pyspark.show()

+-----+---+----------+-----------------------+
| name|age|experience|Experience After 2 year|
+-----+---+----------+-----------------------+
|alpha| 45|        25|                     27|
| beta| 35|        15|                     17|
| gama| 25|         5|                      7|
+-----+---+----------+-----------------------+

In [45]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [46]:
df_pyspark.show(

SyntaxError: incomplete input (2546182161.py, line 1)